/* FOOTER */

footer {
  .foot_cards {
    display: flex;
    justify-content: space-between;
    gap: 98px;
    padding: 96px 0;
    .foot_card h6 {
      color: #2a2c1f;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding-bottom: 16px;
    }

    .foot_card {
      display: flex;
      flex-direction: column;
      a + a {
        margin-top: 16px;
      }
      svg {
        fill: #2a2c1f;
      }
    }

    .foot_card a {
      color: #2a2c1f;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 150% */
      transition: 0.4s;
    }

    .foot_card a:hover {
      color: #b1b1b1;
    }

    .foot_card_content {
      h6 {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }

      .text {
        max-width: 379px;
        color: #65665c;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        padding: 10px 0 15px;
      }

      p {
        color: #65665c;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        padding-top: 16px;
      }
    }

    .foot_form {
      display: flex;
      align-items: center;
      position: relative;
    }

    #email {
      outline: none;
      padding: 22px 56px 23px 24px;
      border-radius: 6px;
      border: 1px solid #e7e8e3;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    }

    .foot_form button {
      border-radius: 6px;
      border: 1px solid #cf6f49;
      background: #cf6f49;
      color: #fff;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      padding: 20px 32px;
      border: none;
      position: absolute;
      right: -10px;
      cursor: pointer;
      transition: 0.5s;
    }

    .foot_form button:hover {
      background-color: #a34e2d;
      color: #1c202f;
    }
  }
  .footer__bottom {
    background: #f5f5f2;
    padding: 28px 0;
    .foot_bottom-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      .foot_bottom-left {
        display: flex;
        align-items: center;
        gap: 42px;
        .logo {
          svg {
            color: #000;
          }
        }
        p {
          color: #000;

          /* Label/Label_Med */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
      .foot_bottom-right {
        display: flex;
        align-items: center;
        gap: 32px;
        a {
          border-radius: 50%;
          svg {
            fill: #000;
            transition: 0.5s;
            width: 100%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1277px) {
    .foot_cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 616px) {
    #email {
      padding: 22px 300px 23px 24px;
    }
  }
  @media only screen and (max-width: 555px) {
    .footer__bottom {
      .foot_bottom-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
      }
    }
  }
  @media only screen and (max-width: 515px) {
    #email {
      padding: 22px 250px 23px 24px;
    }
  }

  @media only screen and (max-width: 454px) {
    #email {
      padding: 22px 200px 23px 24px;
    }
  }

  @media only screen and (max-width: 404px) {
    #email {
      padding: 22px 150px 23px 24px;
    }
  }
  .dark & {
    background: #446950;
  }
  .dark & .foot_cards .foot_card h6 {
    color: #fff;
  }
  .dark & .foot_cards .foot_card P {
    color: #fff !important;
  }
  .dark & .foot_cards .foot_card a {
    color: #fff !important;
  }
  .dark & .foot_cards .foot_card svg {
    fill: #fff;
  }
  .dark & .footer__bottom {
    background-color: rgb(36, 82, 58);
  }
  .dark & .footer__bottom .foot_bottom-cards .foot_bottom-left p {
    color: #fff !important;
  }
  .dark & .footer__bottom .foot_bottom-cards .foot_bottom-right svg {
    fill: #fff;
  }
}
